<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <h3>Serad  Encardreur</h3>
    <p style="color:red">
     Nouveau Encardreur
    </p>
    <h2>Salut Serad je m'appel: {{data.name}}  {{data.name}}  </h2>  


<h3> adresse Email: {{data.addEmail}}</h3>
<h3>  numero de telephone :{{data.numTel}}</h3>  
<h3>Unite d'enseignelent : {{data.untEnseignaement}}</h3> 
<h2>je voudrais faire partir de votre entreprise </h2>

<em> yves codeur sandjonyves@gmail.com</em>
</body>
</html>